@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,300&display=swap");

* {
  font-family: "Ubuntu";
}

form {
  width: 80%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0);
}

.table {
  width: 90%;
  margin: auto;
}

body {
  background-image: url("GAJI\ ANDA.png");

  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed; 
}